<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437063052004-k78kolutmicbs7p4537296ne873quev3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437063052004-k78kolutmicbs7p4537296ne873quev3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>437063052004-0c1hdasd52tdgcs743qr4h9sm55h9r1c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBZFCvAvr_VKkHeaQzSwmaI-Ub7s86BREY</string>
	<key>GCM_SENDER_ID</key>
	<string>437063052004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.triples.rougether</string>
	<key>PROJECT_ID</key>
	<string>rougether-e56ae</string>
	<key>STORAGE_BUCKET</key>
	<string>rougether-e56ae.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437063052004:ios:bf3a302a928c6295fadaf1</string>
</dict>
</plist>